<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='sistema/SYSTEM_CSS.css')}}">
  <link href='https://fonts.googleapis.com/css?family=Suez One' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

  <!-- Header -->
  <section class="custom-header">
    <img src="{{ url_for('static', filename='home/LogoAtual.png') }}" alt="Logo" class="header-logo">
    <nav class="header-nav">
      <a href="{{ url_for('index') }}" class="nav-link">INÍCIO</a>
      <a href="#" class="nav-link">QUEM SOMOS</a>
      <a href="#" class="nav-link">NOSSOS PROJETOS</a>
      <a href="{{ url_for('transparency') }}" class="nav-link">TRANSPARÊNCIA</a>
    </nav>
    <div class="header-buttons">
      <a href="{{ url_for('pix') }}" class="header-btn">COMO AJUDAR</a>
      <a href="{{ url_for('sistema') }}" class="header-btn">ACESSO INTERNO</a>
    </div>
  </section>

  <div class="main-container">
    <div class="login-container">
        <h2>Bem vindo de volta!</h2>
        <p>Faça Login</p>
        <form onsubmit="return login(event)">
            <input type="text" id="username" placeholder="Digite seu nome de usuário" required>
            <input type="password" id="password" placeholder="Digite sua senha" required>
            <button type="submit">ENTRAR</button>
        </form>
    </div>
</div>

  <script src="{{ url_for('static', filename='pix/ONGPIX_JS.js')}}"></script>
  <script src="{{ url_for('static', filename='sistema/SYSTEM_JS.js')}}"></script>

</body>
</html>