<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voluntarios</title>
    <link rel="stylesheet"
      href="{{ url_for('static', filename='sistema/VOLUNTEERS2_CSS.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Suez One'
      rel='stylesheet'>
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>

    <!-- Header -->
    <section class="custom-header">
      <img src="{{ url_for('static', filename='home/LogoAtual.png') }}" alt="Logo" class="header-logo">
      <nav class="header-nav">
        <a href="{{ url_for('index')}}" class="nav-link">INÍCIO</a>
        <a href="#" class="nav-link">QUEM SOMOS</a>
        <a href="#" class="nav-link">NOSSOS PROJETOS</a>
        <a href="{{ url_for('transparency') }}" class="nav-link">TRANSPARÊNCIA</a>
      </nav>
      <div class="header-buttons">
        <a href="{{ url_for('pix') }}" class="header-btn">COMO AJUDAR</a>
        <a href="{{ url_for('sistema') }}" class="header-btn">ACESSO INTERNO</a>
      </div>
    </section>

    <div class="content">
      <div class="form-container">
        <h1>Editar voluntários</h1>
        <form method="POST" action="{{ url_for('editar_voluntario', id_voluntario=voluntario.id_voluntario) }}">
          <div class="form-group">
            <label for="nome_voluntario">Nome do Voluntário:</label>
            <input type="text" id="nome_voluntario" name="nome_voluntario"
              value="{{ voluntario['nome_voluntario'] }}" required>
          </div>

          <div class="form-group">
            <label for="telefone_voluntario">Telefone:</label>
            <input type="text" id="telefone_voluntario"
              name="telefone_voluntario"
              value="{{ voluntario['telefone_voluntario'] }}" required><br><br>
          </div>

          <div class="form-group">
            <label for="data_voluntario">Data:</label>
            <input type="date" id="data_voluntario" name="data_voluntario"
              value="{{ voluntario['data_voluntario'] }}" required>
          </div>

          <div class="form-group">
            <label for="tipo_voluntario">Tipo de Voluntário:</label>
            <select id="tipo_voluntario" name="tipo_voluntario" required>
              <option value="Marmitas" {% if voluntario['tipo_voluntario'] == 'Marmitas' %}selected{% endif %}>Marmitas</option>
              <option value="Divinavó" {% if voluntario['tipo_voluntario'] == 'Divinavó' %}selected{% endif %}>Divinavó</option>
              <option value="Crianças" {% if voluntario['tipo_voluntario'] == 'Crianças' %}selected{% endif %}>Crianças</option>
            </select>
          </div>
          

          <div class="btn-container">
            <button type="submit" class="btn btn-primary">ALTERAR</button>
            <a href="{{ url_for('voluntarios') }}" class="btn btn-secondary">VOLTAR</a>
          </div>
        </form>
      </div>
    </div>

    <script src="{{ url_for('static', filename='pix/ONGPIX_JS.js')}}"></script>
    <script
      src="{{ url_for('static', filename='sistema/SYSTEM_JS.js')}}"></script>

  </body>
</html>