<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voluntarios</title>
    <link rel="stylesheet"
      href="{{ url_for('static', filename='sistema/VOLUNTEERS3_CSS.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Suez One'
      rel='stylesheet'>
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>

    <!-- Header -->
    <section class="custom-header">
      <img src="{{ url_for('static', filename='home/LogoAtual.png') }}" alt="Logo" class="header-logo">
      <nav class="header-nav">
        <a href="{{ url_for('index')}}" class="nav-link">INÍCIO</a>
        <a href="#" class="nav-link">QUEM SOMOS</a>
        <a href="#" class="nav-link">NOSSOS PROJETOS</a>
        <a href="{{ url_for('transparency') }}" class="nav-link">TRANSPARÊNCIA</a>
      </nav>
      <div class="header-buttons">
        <a href="{{ url_for('pix') }}" class="header-btn">COMO AJUDAR</a>
        <a href="{{ url_for('sistema') }}" class="header-btn">ACESSO INTERNO</a>
      </div>
    </section>

    <div class="filter-container">
      <label for="search-name">PESQUISAR PELO NOME</label>
      <form class="form-filter-button" method="GET" action="{{ url_for('exibir_voluntario') }}">
        <input type="text" id="search-name" name="search_name" placeholder="Digite o nome do voluntário" value="{{ request.args.get('search_name', '') }}">
        
        <label for="store-select">FILTRO DE VOLUNTÁRIOS</label>
        <select id="store-select" name="tipo_voluntario">
          <option value="">Selecione o tipo</option>
          <option value="Marmitas" {% if request.args.get('tipo_voluntario') == 'Marmitas' %}selected{% endif %}>Marmitas</option>
          <option value="Divinavó" {% if request.args.get('tipo_voluntario') == 'Divinavó' %}selected{% endif %}>Divinavó</option>
          <option value="Crianças" {% if request.args.get('tipo_voluntario') == 'Crianças' %}selected{% endif %}>Crianças</option>
        </select>
    
        <button class="filter-button" type="submit">Filtrar</button>
      </form>
      <a href="{{ url_for('voluntarios') }}" class="filter-button2">Voltar</a>
    </div>      

    <!--tabela para o banco-->

    <table border="1" cellpadding="10" cellspacing="0" style="width: 100%; margin-top: 80px;">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Data</th>
          <th>Tipo</th>
          <th>Tel</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for voluntario in voluntarios %}
        <tr>
          <td>{{ voluntario.id_voluntario }}</td>
          <td>{{ voluntario.nome_voluntario }}</td>
          <td>{{ voluntario.data_voluntario }}</td>
          <td>{{ voluntario.tipo_voluntario }}</td>
          <td>{{ voluntario.telefone_voluntario }}</td>
          <td>
            <form
              action="{{ url_for('editar_voluntario', id_voluntario=voluntario.id_voluntario) }}"
              method="GET" style="display:inline;">
              <button type="submit" class="btn btn-edit">Editar</button>
            </form>

            <form
              action="{{ url_for('excluir_voluntario', id_voluntario=voluntario.id_voluntario) }}"
              method="POST" style="display:inline;">
              <button type="submit"
                onclick="return confirm('Tem certeza que deseja excluir este voluntário?')">Excluir</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <script src="{{ url_for('static', filename='pix/ONGPIX_JS.js')}}"></script>
    <script
      src="{{ url_for('static', filename='sistema/SYSTEM_JS.js')}}"></script>

  </body>
</html>