<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doações via Pix</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='pix/ONGPIX2_CSS.css')}}">
  <link href='https://fonts.googleapis.com/css?family=Suez One' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

  <!-- Header -->
  <section class="custom-header">
    <a  href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='home/LogoAtual.png') }}" alt="Logo" class="header-logo">
    </a><nav class="header-nav">
      <a href="{{ url_for('index') }}" class="nav-link">INÍCIO</a>
      <a href="{{ url_for('index') }}#quemsomos" class="nav-link">QUEM SOMOS</a>
      <a href="{{ url_for('index') }}#areatuacao" class="nav-link">NOSSOS PROJETOS</a>
      <a href="{{ url_for('transparency') }}" class="nav-link">TRANSPARÊNCIA</a>
    </nav>
    <div class="header-buttons">
      <a href="{{url_for('pix') }}" class="header-btn">COMO AJUDAR</a>
      <a href="{{ url_for('sistema') }}" class="header-btn">ACESSO INTERNO</a>
    </div>
  </section>

  <!-- Formulário de doação -->
  <div class="divest">
    <div class="donation-container">
      <h2>Doar para a ONG Semeando Alegria</h2>

      <div class="donation-value">
        <label for="amount">Valor da doação:</label>
        <div class="amount" id="donationValue">R$ 30,00</div> <!-- Adicionamos o id "donationValue" -->
      </div>      
      

      <div class="payment-method">
        <label for="payment">Forma de pagamento</label>
        <div class="payment">
          <img src="{{ url_for('static', filename='pix/ONG_IMG/qrcode5-pix.png') }}" alt="Pix">
        </div>
      </div>

      <a href="{{ url_for('pix') }}" class="continue-button">Voltar</a>
    </div>
  </div>

   <!-- FOOTER -->
   <footer>
    <div id="footer_content">
      <div id="footer_contacts">
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='home/LogoAtual.png') }}" id="logo">
        </a><p>Nossas redes sociais</p>
  
        <div id="footer_social_media">
          <a href="https://www.instagram.com/ongsemeandoalegria?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class="footer-link" id="instagram">
            <i class="fa-brands fa-instagram"></i>
          </a>
  
          <a href="#" class="footer-link" id="facebook">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
  
          <a href="#" class="footer-link" id="whatsapp">
            <i class="fa-brands fa-whatsapp"></i>
          </a>
        </div>
      </div>
  
      <ul class="footer-list">
        <li>
          <h3>Colabore</h3>
        </li>
        <li>
          <a href="#" class="footer-link">Doe qualquer valor </a>
        </li>
        <li>
          <a href="#" class="footer-link">Apadrinhe nossas crianças</a>
        </li>
        <li>
          <a href="#" class="footer-link">Apadrinhe a ONG</a>
        </li>
      </ul>
  
      <ul class="footer-list">
        <li>
          <h3>Contato</h3>
        </li>
        <li>
          <a href="#" class="footer-link">contato@semeandoalegria.org.br</a>
        </li>
        <li>
          <a href="#" class="footer-link">(21)9 XXXX-XXXX</a>
        </li>
      </ul>
  
      <div id="footer_subscribe">
        <h3>Inscreva-se</h3>
  
        <p>
          Digite seu e-mail e fique ligado<br>
          sobre novas ações!
        </p>
  
        <div id="input_group">
          <input type="email" id="email" placeholder="Digite seu e-mail" required>
          <button onclick="inscreverEmail()">
            <i class="fa-regular fa-envelope"></i>
          </button>
        </div>
      </div>
    </div> 
  
    <div id="footer_copyright">
      &#169
      2024 all rights reserved
    </div>
  </footer>

  <script src="{{ url_for('static', filename='pix/ONGPIX_JS.js') }}"></script>

</body>
</html>
