body {
    font-family: 'Suez One';
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    line-height: 1.6;
    max-width: 1920px;
    margin: 0 auto;

}

/* Header Normal*/
.custom-header {
    display: flex;
    align-items: center;
    background-color: #ffa600; 
    padding: 2px 10px;
    max-width: 1920px;
    width: 1900px;
    position: fixed;
    z-index: 1000;
    transition: top 0.6s ease-in-out;
}

.header-logo {
    width: 100px; 
    margin-left: 15px;
}

.header-nav {
    display: flex;
    margin-left: 20px;
    flex-grow: 1; 
    justify-content: flex-end;
    gap: 25px;
    margin-right: 18px;
    
}

.nav-link {
    margin-right: 25px; 
    color: #ffffff; 
    text-decoration: none; 
    font-size: 15px; 
    transition: background-color 0.2s ease;
    font-family: 'Suez One';
}

.header-buttons {
    display: flex;
    gap: 10px;
    margin-right: 60px;
}

.header-btn {
    padding: 9px 25px;
    border: none;
    border-radius: 22px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 20px; 
    background-color: #ffa600; 
    color: white; 
    border: 2px solid white;
    font-family: 'Suez One';
    text-decoration: none;
}

.header-btn:hover {
    background-color: #ee8a0f;
}

/* Main Container */
.main-container {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 70vh;
    padding-top: 120px;
    
}


/* Options Section */
.options-section {
    z-index: 2;
    text-align: center;
    background-color: #ffffff;
    padding: 70px 70px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
}

h1 {
    font-size: 38px;
    color: #5c3f09;

}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    justify-content: center;
    padding: 40px 40px;
   
}

.option-button {
    padding: 10px 20px;
    background-color: #ffa600;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 15px;
    text-decoration: none;
}
.option-button2 {
    padding: 10px 20px;
    background-color: #b3b3b3;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 15px;
    text-decoration: none;
}

.option-button:hover {
    background-color: #ee8a0f;
}

.option-button2:hover {
    background-color: #818181;
}



/* Header Responsivo >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  */

  /* Header Responsivo para Telas até 1200px (metade da tela)*/

  @media (max-width: 1200px) {
    .custom-header {
        max-width: 100%; 
        padding: 10px 20px; 
        width: 100%; 
    }

    .header-logo {
        width: 80px; 
        margin-left: 10px; 
    }

    .header-nav {
        flex-direction: row;
        justify-content: flex-start; 
        gap: 15px; 
        margin-left: 10px; 
    }

    .nav-link {
        font-size: 13px; 
        margin-right: 15px; 
    }

    .header-buttons {
        display: flex;
        gap: 5px; 
        margin-right: 32px; 
        flex-wrap: wrap; 
        justify-content: flex-start; 
    }

    .header-btn {
        font-size: 14px; 
        padding: 8px 15px; 
    }
}


/* Header Responsivo para Telas até 600px (celular médio)*/

@media (max-width: 600px) {
    .custom-header {
        flex-direction: column;
        align-items: center;
        padding: 15px 10px;
    }

    .header-logo {
        width: 80px;
        margin-bottom: 10px; 
    }

    .header-nav {
        width: 100%; 
        display: flex;
        justify-content: center; 
        gap: 20px; 
        margin-top: 10px; 
        border-top: 1px solid #fff; 
        padding-top: 10px; 
    }

    .nav-link {
        font-size: 14px;
        color: #ffffff;
        text-decoration: none;
        font-weight: normal;
        margin: 0; 
    }

    .header-buttons {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }

    .header-btn {
        font-size: 14px;
        padding: 8px 15px;
    }
}